<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<title>Flight List</title>
</head>
<body>
  <%- include('../partials/nav') %>
  <section class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">AIRLINE</th>
          <th scope="col">AIRPORT</th>
          <th scope="col">FLIGHT NUMBER</th>
          <th scope="col">DEPARTURES</th>
          <th scope="col">DETAILS</th>
          <th scope="col">DELETE</th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach((f) => { %>
        <tr>
          <td class="list-group-item-action active"><%= f.airline%></td>
          <td class="list-group-item-action active"><%= f.airport%></td>
          <td class="list-group-item-action active"><%= f.flightNo%></td>
          <td class="list-group-item-action active col-2"><%= f.departs%></td>
          <td class="list-group-item-action active col-2 details">
            <a href="/flights/<%= f._id %>" class="list-group-item">DETAILS
            </a></td>
          <td><button type="submit" class="btn list-group-item">❌</button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
</body>
</html>