<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<title>Flight List</title>
</head>
<body>
  <%- include('../partials/nav') %>
  <section class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Airline</th>
          <th scope="col">Airport</th>
          <th scope="col">FlightNo</th>
          <th scope="col">Departure Dates</th>
          <th scope="col">Details</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach((f) => { %>
        <tr>
          <td class="list-group-item-action active"><%= f.airline%></td>
          <td class="list-group-item-action active"><%= f.airport%></td>
          <td class="list-group-item-action active"><%= f.flightNo%></td>
          <td class="list-group-item-action active col-2"><%= f.departs%></td>
          <td class="list-group-item-action active col-2"><button type="submit" class="btn list-group-item">DETAILS</button></td>
          <td><button type="submit" class="btn list-group-item">❌</button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
</body>
</html>