<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<title>Mongoose Flights</title>
</head>
<body>
<%- include('../partials/nav') %>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>FlightNo</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach((f) => { %>
        <tr>
          <td><%= f.airline%></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td>
          <button type="submit" class="btn">X</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <%- include('../partials/footer') %>