<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css" />
<title>Flight List</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <section class="container">
        <ul class="list-group">
            <li class="list-group-item title">Flight Details</li>
            <li class="list-group-item departure">Departure Date and Time: <%= flight.departs%></li>
            <li class="list-group-item"> Airline: <%= flight.airline%></li>
            <li class="list-group-item">Airport: <%= flight.airport%></li>
            <li class="list-group-item">FlightNo: <%= flight.flightNo%></li>
        </ul>
    </section>
    <section class="ticket-container">
        <div class="form-group">
            <h1>Enter Ticket Details</h1>
          </div>
          <form action="/flights/flight._id/tickets" method="POST">
            <div class="form-group">
              <label>Seat:<input type="text" name="seat" class="form-control" required >
              </label>
            </div>
            <div class="form-group">
              <label>Price: <input type="number" name="price" class="form-control" min="0" required >
              </label>
            </div>
              <button type="submit" class="btn btn-primary">ADD TICKET</button>
          </form>
    </section>
</body>
</html>