<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css" />
<title>Flight List</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <section class="container">
        <ul class="list-group">
            <li class="list-group-item title">Flight Details</li>
            <li class="list-group-item departure">Departure Date and Time: <%= flight.departs%></li>
            <li class="list-group-item"> Airline: <%= flight.airline%></li>
            <li class="list-group-item">Airport: <%= flight.airport%></li>
            <li class="list-group-item">FlightNo: <%= flight.flightNo%></li>
        </ul>
    </section>
    <section class="ticket-container">
        <div class="form-group">
            <h1>Enter Ticket Details</h1>
          </div>
          <form action="/flights/<%= flight._id %>/tickets" method="POST">
            <div class="form-group">
              <label>Seat:<input type="text" name="seat" class="form-control" required pattern="[A-F][1-9]\d?" >
              </label>
            </div>
            <div class="form-group">
              <label>Price: <input type="number" name="price" class="form-control" required >
              </label>
            </div>
              <button type="submit" class="btn btn-primary">ADD TICKET</button>
          </form>
    </section>
    <section class="container">
      <% if (flight.tickets.length) { %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Seat</th>
              <th scope="col">Price</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <% flight.tickets.forEach(ticket => { %>
              <tr>
                <td><%= ticket.seat %> </td>
                <td><%= ticket.price %> </td>
                <td><form 
                  action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE"
                  class="delete-form"
                  method="POST"
                >
                  <button class="btn" type="submit">❌</button>
                </form></td>
              </tr>
            <% }); %> 
          </tbody>
        </table>
      <% } else { %>
        <h3>No Tickets Yet</h3>
      <% } %>
    </section>
</body>
</html>